main {
  height: calc(100% - 58px); /** Calculamos el alto de contenido principal */
  padding: 36px;
  display: flex;
  align-items: center; /** Alineamos verticalmente al centro */
  justify-content: center; /** Alineamos horizontalmente al centro */
}

.dashboard-logo-container img {
  width: 100%;
  height: auto;
}

.dashboard-logo-container {
  margin: 0 auto;
  width: 230px;
  margin-bottom: 18px;
}

.dashboard-message-container {
  width: 400px;
}

.dashboard-message-container h2,
.dashboard-message-container p {
  text-align: center;
}

.dashboard-message-container h2 {
  margin-bottom: 5px;
}

section.incidents-container {
  width: 100%;
  align-self: start;
}

.incidents-container .table-list-incidents {
  width: 100%;
  border-collapse: collapse;
}

.table-list-incidents thead {
  text-align: left;
  border-bottom: 2px solid #dedfe1;
}

.table-list-incidents thead tr th {
  padding-bottom: 8px;
}

.table-list-incidents tbody tr td {
  padding: 8px 0px;
  border-bottom: 1px solid #dedfe1;
}

.table-list-incidents tbody .col-flag-state > span {
  border-radius: 8px;
  padding: 4px;
  font-size: .75rem;
  color: white;
  font-weight: bold;
}

.table-list-incidents .color-state-open > span {
  background-color: #a5adbb;
}

.table-list-incidents .color-state-inProcess > span {
  background-color: #4c9aff;
}

.table-list-incidents .color-state-asigned > span {
  background-color: #ffc400;
}

.table-list-incidents .color-state-resolved > span {
  background-color: #79f2bf;
}

.table-list-incidents .color-state-closed > span {
  background-color: #fe8f72;
}

.incidents-header {
  margin-bottom: 8px;
}

.incidents-header .text-total-tickets,
.text-create-ticket-info{
  display: block;
  font-size: var(--font-size-medium);
}

.container-create-ticket-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  transition: opacity 0.4s ease;
}

.container-create-ticket-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.form-create-ticket-modal-container {
  padding: 18px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-modal-button-container {
  display: flex;
  justify-content: end;
}

.form-create-ticket label{
  display: block;
  font-size: var(--font-size-medium);
  margin-bottom: 3px;
}

.form-create-ticket textarea,
.form-create-ticket select {
  width: 100%;
}

.form-create-ticket .form-create-ticket-group {
  margin-bottom: 8px;
}

.form-create-ticket .select-create-ticket-group,
.form-create-ticket .textarea-create-ticket-group {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px;
}

.create-ticket-modal-button,
.create-ticket-button {
  border: none;
  background: #4eaf50;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
}

.create-ticket-button {
  width: 100%;
}

.close-modal-button-container .close-modal-button {
  background: none;
  border: none;
}