<header class="dashboard-header">
  <section>
    <div class="menu-icon-container">
      <button class="menu-button" id="id-menu-button" aria-expanded="false"></button>
    </div>
    <div class="logo-container">
      <a href="/dashboard">
        <img src="https://get.witei.com/wp-content/uploads/2020/08/Logo-positivo-800px.svg" alt="logo" title="Dashboard">
      </a>
    </div>
  </section>
  <section>
    <button class="avatar-container">
      <span>B</span>
    </button>
  </section>
</header>