<nav class="menu-navigation" id="id-menu-navigation">
  <section class="nav-option incidencies-button-container">
    <a class="incidencies-button" href="/dashboard/incidencias" title="Ver Incidencias">
      <span></span>
      <span>Incidencias</span>
    </a>
  </section>
</nav>