<nav class="menu-navigation" id="id-menu-navigation">
  <section class="nav-option ticket-container">
    <button class="ticket-button">
      <span></span>
      <span>Incidencias</span>
    </button>
  </section>
</nav>